  <aside class="sidebar-left">
      <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="/"><span class="fa fa-area-chart"></span>MilMap<span class="dashboard_text">Admin's Dashboard</span></a></h1>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
              <li class="header">MAIN NAVIGATION</li>
              <li class="treeview">
                <a href="/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
              </li>
        <li class="treeview">
                <a href="/collages">
                <i class="fa fa-th"></i>
                <span>Pic Collage</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                
                <ul class="treeview-menu">
                 <li><a href="/collages/new">Albums <i class="fa fa-angle-right"></i></a></li>
                  <li><a href="/collages/new">Add new album <i class="fa fa-angle-right"></i></a></li>
              </ul>
                
              </li>

            



        <li class="treeview"><a>
                 <i class="fa fa-user"></i>
                <span>Fund Raisers</span>
                <i class="fa fa-angle-left pull-right"></i>
               </a>
   <ul class="treeview-menu">
          <li><a href="/fund_raisers">View Fund Raisers</a>
            </li>

            <li><a href="/fund_raisers/new">Add Fund Raisers</a>
            </li>
        </ul>

   </li>


 <li class="treeview"><a href=""><i class="fa fa-desktop"></i> <span>Supporters</span>
 <i class="fa fa-angle-left pull-right"></i></a>

    <ul class="treeview-menu">
       <li class="treeview"><a>
                 <i class="fa fa-file"></i>
                <span>Prospects</span>
                <i class="fa fa-angle-left pull-right"></i>
               </a>
   <ul class="treeview-menu">
          <li><a href="/prospects">View Prospects</a>
            </li>
        </ul>

   </li>
   
       <li class="treeview"><a>
                 <i class="fa fa-desktop"></i>
                <span>Champions</span>
                <i class="fa fa-angle-left pull-right"></i>
               </a>
   <ul class="treeview-menu">
          <li><a href="/champions">View Champions</a>
            </li>

            <li><a href="/champions/new">Add Champion</a>
            </li>
        </ul>

   </li>

     <li class="treeview"><a>
                 <i class="fa fa-sitemap"></i>
                <span>Members</span>
                <i class="fa fa-angle-left pull-right"></i>
               </a>
   <ul class="treeview-menu">
          <li><a href="/members">View Members</a>
            </li>

            <li><a href="/members/new">Add Member</a>
            </li>
        </ul>

   </li>



              <li class="treeview"><a>
                 <i class="fa fa-desktop"></i>
                <span>Patriots</span>
                <i class="fa fa-angle-left pull-right"></i>
               </a>
   <ul class="treeview-menu">
          <li><a href="/patriots">View Patriots</a>
            </li>

            <li><a href="/patriots/new">Add Patriot</a>
            </li>
        </ul>

   </li>

        </ul>
 </li>
  

    <li class="treeview"><a>
                 <i class="fa fa-desktop"></i>
                <span>Ambassadors</span>
                <i class="fa fa-angle-left pull-right"></i>
               </a>
   <ul class="treeview-menu">
          <li><a href="/ambassadors">View Ambassadors</a>
            </li>

            <li><a href="/ambassadors/new">Add Ambassadors</a>
            </li>
        </ul>

   </li>




 <li class="treeview"><a href="/donations"><i class="fa fa-gift"></i> Donations</a></li>
  
  <li class="treeview"><a href="/quick_donations"><i class="fa fa-gift"></i>Quick Donations</a></li>
  
<li class="treeview"><a href="/sponsorships"><i class="fa fa-gift"></i> Sponsorship</a></li>
 
<li class="treeview" ><a><i class="fa fa-group"></i>Interest Lines <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu">
          <li><a href="/interest_lines">View Interest Lines</a>
            </li>
            <li><a href="/interest_lines/new">Add New Interest Lines</a>
            </li>
        </ul>
 
</li>

              <li class="treeview">
                <a href="/posts">
                <i class="fa fa-envelope"></i> <span>Forum </span>
                <i class="fa fa-angle-left pull-right"></i><small class="label pull-right label-info1">post</small><span class="label label-primary1 pull-right">new</span></a>
                   
                <ul class="treeview-menu">
                  <li><a href="/posts"><i class="fa fa-angle-right"></i>View Posts </a></li>
                  <li><a href="/posts/new"><i class="fa fa-angle-right"></i> Add Post</a></li>
                </ul>
              </li>


                   <li class="treeview"><a><i class="fa fa-group"></i>System Admins <span class="fa fa-chevron-down"></span></a>
 <ul class="treeview-menu">
          <li><a href="/admins">View Admins</a>
            </li>
            <li><a href="/admins/new">Add New Admin</a>
            </li>
        </ul>
 
</li>
      

                <li class="treeview">

                <%= link_to destroy_user_session_path, method: :delete do%> 
  
                  <i class="fa fa-sign-out"></i> <span>Logout</span>
                <i class="fa fa-angle-left pull-right"></i>
                <%end%>
  </li>
            
           </ul>
          </div>


              
          <!-- /.navbar-collapse -->
      </nav>

    </aside>
  


