<div class="footer">
		   <span>&copy; 2018 Election Monitoring System <a href="http://www.actionaid-ngr.org" target="_blank">eMonitor NG</a>. All Rights Reserved | Powered by <a href="https://nativedge.com/" target="_blank">Nativedge</a></span>		</div>
		   
        <!--//footer-->
	</div>
	