  <aside class="sidebar-left">
      <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="/"><span class="fa fa-area-chart"></span>MilMap<span class="dashboard_text">Member's Dashboard</span></a></h1>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
              <li class="header">MAIN NAVIGATION</li>
              <li class="treeview">
                <a href="/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
              </li>

                 <li class="treeview">
                <a href="/my_downlines">
                <i class="fa fa-group"></i> <span>Down Lines</span>
                <small class="label pull-right label-info">new</small>
                </a>
              </li>
 <li class="treeview">
              <li class="treeview">
                <a href="/donations/new">
                <i class="fa fa-gift"></i>
                <span>Make Donation </span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                
              </li>

   <li class="treeview">
                <a href="/donation_history">
                <i class="fa fa-pie-chart"></i>
                <span>Payment History</span>
               
                </a>
              </li>

   <li class="treeview">
                <a href="/donations/new">
                <i class="fa fa-edit"></i> <span>Upgrade To Patriot</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
              
              </li>

 
              <li class="treeview">
                <a href="/posts">
                <i class="fa fa-envelope"></i> <span>Forum </span>
                <i class="fa fa-angle-left pull-right"></i><small class="label pull-right label-info1">posts</small><span class="label label-primary1 pull-right">new</span></a>
              </li>


        <li class="treeview">
                <a href="/collages">
                <i class="fa fa-th"></i>
                <span>Event Albums</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
               
              </li>
           
            
                <li class="treeview">

                <%= link_to destroy_user_session_path, method: :delete do%> 
  
                  <i class="fa fa-sign-out"></i> <span>Logout</span>
                <i class="fa fa-angle-left pull-right"></i>
                <%end%>

              </li>


                         </ul>
          </div>
          <!-- /.navbar-collapse -->
      </nav>
    </aside>
  
