<% provide( :title, "Admin Signup") %>

<div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">
<h3>
  
System Administrator Registration
</h3>
</div>

<%= render 'form', admin: @admin %>

