
<% provide( :title, "Edit Council") %>


<%if current_user%>
<div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">


<h1>Editing Council Ward</h1>
<small>this page is available to logged on users only</small>
</div>
<br>
<br>
<br>
</div>
</div>
</div>

<%= render 'form', council_ward: @council_ward %>
<br>
<br>
<br>
 <%= link_to "Cancel", root_url,class:"btn btn-danger"%>
 <%= link_to "Back", :back, class:"btn btn-warning"%>

<%= link_to 'councils Repo', council_wards_path, class:"btn btn-success"  %>
 <%else%>
<h2>Unauthorized access!</h2>
    <p>You are not authorised to view this page.</p>
  <%end%>
</div>
</div>
</div>
