<% provide( :title, "New collage") %>

<div class="forms">
					<h2 class="title1">New Event Album</h2>
					<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 	<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
<%= render 'form', collage: @collage %>


