
 
    <h1 class="header-w3ls">
        Donate
<br>
  
  </h1>


    <div class="Donation-main-w3ls">
        <form name="quick_donation" action="https://localhost:3000/quick_donations" method="post" enctype="multipart/form-data">
            <div class="main">
                <div class="form-left-to-w3l">

                    <input type="text" name="name" placeholder=" Full Name" required="">
                    <div class="clear"></div>
                </div>
                <div class="form-right-to-w3ls">

                    <input type="text" name="tel" placeholder="Phone Number" required="">
                    <div class="clear"></div>
                </div>

            </div>
            <div class="main">
                <div class="form-left-to-w3l">
                    <input type="email" name="email" required="" placeholder="Email">
                </div>
                
            
                <div class="form-right-to-w3ls">
                    <select name="amount" type="number" required="" class="form-control buttom" >
                                                <option value=0>
                                                Donation Amount</option>
                                                    <option value=2000>N2,000</option>
                                                    <option value=5000>N5,000</option>
                                                    <option value=10000>N10,000</option>
                                                    <option value=15000>N15,000</option>
                                                    <option value=20000>N20,000</option>
                                                    <option value=30000>N30,000</option>
                                                    <option value=50000>N50,000</option>
                                                    <option value=100000>N100,000</option>
                                                    <option value=200000>N200,000</option>
                                                    <option value=300000>N300,000</option>
                                                    <option value=500000>N500,000</option>
                                                    <option value=1000000>N1000000</option>
                                                    <option value=2000000>N2,000,000</option>
                
                                                </select>
                </div>
            </div>
            <div class="clear"></div>

            <div class="clear"></div>

            <!--<div class="form-control-w3l">
                <textarea name="Message" placeholder="Any Queries..." required=""></textarea>
            </div>-->

            <div class="btnn">
                <button type="submit">Submit</button><br>
            </div>
        </form>


        <div class="clear"></div>



    </div>
    <!--<div class="copy">
        <p>&copy;2018 Charity Donation Form. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
    </div>-->
