
<% provide( :title, "Quick Donation") %>

<div class="forms">
					<h2 class="title1">New Donation to OneMilMap</h2>
					<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 	<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
<%= render 'form', quick_donation: @quick_donation %>


