 <div class="art-bothside">
         <div class="sap_tabs">
            <div id="horizontalTab">
               <ul class="resp-tabs-list">
                  <li class="resp-tab-item"><span>Join Now</span></li>
               </ul>
               <div class="clearfix"> </div>
               <div class="resp-tabs-container">
                  <div class="tab-1 resp-tab-content">
                     <div class="swm-right-w3ls">

                       <div style="float:center;">
         
 <div class="main">
                              <div class="icon-head-wthree">
                                 <h2>Select Category</h2>
                              </div>
                            
                             
                              <div class="btnn">
                               <center>
      <%= link_to "Sign up as Supporter", new_member_path, class:'btn btn-info btn-xts',style:"color:#fff; font-weight:bold;" %>

      <br/><br/>

      <%= link_to "Sign up as Fund Raiser", new_fund_raiser_path, class:'btn btn-success btn-xts',style:"color:#fff; font-weight:bold;"%>
</center>
                                
                              </div>
                        <br/>
                         <br/>
                        

                       
                     </div>
                  </div>
               
               </div>
            </div>
         </div>
      </div>
