
<% provide( :title, "New Donation") %>

<div class="forms">
					<h2 class="title1">New Donation</h2>
					<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
						<div class="form-title">
							<h4>MilMap Commitment</h4>
						</div>


<%= render 'form', donation: @donation %>
</div>
</div>

