<% provide( :title, "Edit Prospect") %>
  <div class="login-page ">
  

<h2 class="title1"><img src="../assets/img/actionaid-logo.png" style="float:left;"/>Edit Prospect Form</h2>

<%= render 'form', user: @user %>

