<% provide( :title, "New Post") %>



<div class="forms">
					<h2 class="title1">New Post</h2>
					<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
						<div class="form-title">
							<h4>OneMilMap Forum Post</h4>
						</div>


<%= render 'form'%>
<br/>
<br/>
  <%= link_to 'Dashboard', root_path, class:"btn btn-info" %> | <%= link_to "Back", :back, class:"btn btn-warning"%>
</div>
</div>
</div>

