<% provide( :title, "Supporter Signup") %>

<div class="forms">
					<h2 class="title1">New Champion</h2>
					<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 	<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
<%= render 'form'%>

