<% provide( :title, "Send Report") %>


  <h2 class="title1">New Report Form</h2>
          <div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
            <div class="form-title">
              <h4>one click monitoring</h4>
            </div>
  
  
</div>



    
<div class="col-md-12 panel-grids">
	<%= render 'form'%>