<!DOCTYPE HTML>
<html>
	<head>
	 
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
 
<%= stylesheet_link_tag 'application', media: 'all' %>
<meta name="google-site-verification" content="-Jjra7cb-96G22e4UrrNawow5oRIP6NFPl2nhU5K-_U" />
	<title="Login|1MilMap">
	
	<script>
              addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
            </script> 

            <link href="../assets/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--stylesheets-->
      <link href="../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//style sheet end here-->
      <link href="//fonts.googleapis.com/css?family=Barlow:300,400,500" rel="stylesheet">
	</head>
	<body>
   
	 <div class="alert alert-success" role="alert" style="width:100%; height:70px; background-color: #fff;"><h1 style="color:#ff0000;">
    <center>  <img src="../assets/img/logo.png" style="float:left;"/> Welcome to MilMap
       <span class="primary-btn" style="float:right; color: white; background: #ff0000; width: 200px; margin-top: 5px; margin-bottom: 10px; border-radius: 20px; font-size: 1.2em;"><span onMouseOver="this.style.background ='#FF0000'" onMouseOut="this.style.background ='#FFFFFF'"> 
  <a class="primary-btn" style="float:right; color: white; background: #ff0000; width: 200px; margin-top: 5px; margin-bottom: 10px; border-radius: 40px; font-size: 1.2em;" onMouseOver="this.style.color='#242424'" onMouseOut="this.style.color='#FFF'" href="/quick_donations/new"><strong>Quick Donation</strong></a></span></span>
  </center></h1>

       </div>
     
  <%=yield%>

             <div class="copy">
         <p>&copy;2018 1MilMap ActionaidNG. All Rights Reserved | Powered by <a href="http://www.nativedge.com" target="_blank">Nativedge</a></p>
      </div>
      <!--js working-->
      <script src='../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <script src="../assets/js/easyResponsiveTabs.js"></script>
      <script>
         $(document).ready(function () {
          $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true // 100% fit in a container
          });
         });
      </script>
        </footer>

	</body>
<html>

